@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
}

html, body {
    overflow: hidden;
    overflow-y: scroll; /* 保留纵向滚动 */
}

body::-webkit-scrollbar {
    display: none; /* 隐藏滚动条 */
}

.mainBag .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(9px);
    transition: background 1s;
    z-index: -2;
    overflow: hidden;
}


.mainBag .background img {
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
}


.but {
    width: 100px;
    height: 100px;
    margin-left: 100px;
    margin-top: 270px;
    position: relative; /* 设置父元素为相对定位 */
}

.but #return {
    width: 100px;
    height: 100px;
    position: absolute; /* 绝对定位 */
    top: 0; /* 定位按钮的顶部为父元素的顶部 */
    left: 0; /* 定位按钮的左侧为父元素的左侧 */
    z-index: 999;
    background: transparent; /* 设置背景透明 */
    border: none; /* 去掉按钮的边框 */
    padding: 0; /* 去掉内边距，以确保按钮紧贴图标 */
    cursor: pointer;
}


.maindiv {
    background-color: rgba(255, 255, 255, 0.5);
    height: auto;
    width: 500px;
    float: left;
    margin-left: 500px;
    margin-top: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.maindiv .group0 {
    display: flex;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 60px;
}

.maindiv .group1 {
    display: flex;
    margin-bottom: 20px;
    margin-left: 45px;
    margin-top: 30px;
}

.maindiv .group2 {
    display: flex;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.maindiv .group3 {
    display: flex;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
}


.maindiv .field1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 410px;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    overflow: hidden;
}

#uploadArea {
    text-align: center;
    font-size: 14px;
    color: #888;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
}

#preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

/*下面这个被覆盖了*/
.maindiv .mess1 {
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #fff;
    padding: 5px;
    font-size: 15px;
    width: 400px;
    height: 200px;
    cursor: pointer;
}


.maindiv .mess2 {
    border-radius: 6px;
    height: 15px;
    width: 377px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #fff;
    padding: 5px;
    font-size: 15px;
}

.maindiv .mess3 {
    border-radius: 6px;
    height: 150px;
    width: 377px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #fff;
    padding: 5px;
    font-size: 15px;
    resize: none;
    overflow: hidden;
    overflow-y: scroll;
    line-height: 1.4em;
}

textarea::-webkit-scrollbar {
    width: 0px; /* 控制垂直滚动条的宽度 */
    height: 8px; /* 控制水平滚动条的高度 */
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0); /* 滚动条的滑块颜色 */
    border-radius: 4px; /* 滚动条滑块的圆角 */
}


input[type="file"] {
    font-size: 12px; /* 调整字体大小 */
    padding: 8px; /* 添加适当的内边距，确保文本不被裁剪 */
    width: 175px; /* 根据需要设置控件的宽度 */
    height: 20px;
}

.maindiv form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.maindiv .button {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.maindiv button {
    border-radius: 30px;
    border: 1px solid white;
    height: 30px;
    width: 60px;
    cursor: pointer;
    /*margin-left: 215px;*/
    margin-top: 10px;
    margin-bottom: 20px;
    background: none;
    color: white;
}

.maindiv button:hover {
    border-radius: 30px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3); /* 鼠标悬停时添加阴影 */
    transform: translateY(-3px); /* 鼠标悬停时增加轻微的浮动效果 */
}
.move {
    position: absolute;
    margin-left: 165px;
    z-index: 999;
}

h3 {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    font-family: Andalus;
    text-align: center;
    margin-bottom: 30px;
    top: 10%;
}

.but #return:hover {
    border-radius: 50%;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3); /* 鼠标悬停时添加阴影 */
    transform: translateY(-3px); /* 鼠标悬停时增加轻微的浮动效果 */
}

.but img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-user-drag: none;
}